
<div>
<div class="header">
  <h1>Cyber Security Resiliency Assessment</h1>
  <p>Assess your organization's cyber security posture.</p>
  </div>
<div class="form-container" *ngIf="!isFormLoaded">
  <h2>Loading Form...</h2>
  <p>Please wait while we load the assessment form.</p> 
</div>
<div class="form-container" *ngIf="isFormLoaded && formSections.length === 0">
  <h2>No Sections Available</h2>
  <p>There are currently no sections available for the assessment.</p>
</div>
<!-- <div class="form-container" *ngIf="isFormLoaded && formSections.length > 0">
  <h2>Cyber Security Resiliency Assessment</h2>
  <p>Section {{ currentSectionIndex + 1 }} of {{ formSections.length }}</p>
  <p>{{ currentSection.description }}</p>
  </div> -->
  
<div *ngIf="isFormLoaded">
  <h2>{{ currentSection.section }}</h2>

  <div *ngIf="currentSection.paragraphs">
    <p *ngFor="let para of currentSection.paragraphs" class="section-paragraph">
      {{ para }}
    </p>
  </div>

  <form [formGroup]="dynamicForm">
    <div *ngFor="let field of currentSection.fields">
      <label>{{ field.label }}</label>
      <input [type]="field.type" [formControlName]="field.name" />
      <div *ngIf="dynamicForm.get(field.name)?.touched && dynamicForm.get(field.name)?.invalid">
        <small>{{ field.label }} is required</small>
      </div>
    </div>
  </form>

  <div class="buttons">
    <button (click)="prevSection()" [disabled]="currentSectionIndex === 0">Back</button>
    <button *ngIf="currentSectionIndex < formSections.length - 1" (click)="nextSection()">Save & Continue</button>
    <button *ngIf="currentSectionIndex === formSections.length - 1" (click)="onSubmit()"  [disabled]="submitting">
  <span *ngIf="!submitting">Submit</span>
  <span *ngIf="submitting">
    <span class="spinner"></span> Submitting...
  </span>
>Submit</button>

  </div>
</div>
</div>
<router-outlet />
